#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #5E5E81 0%, #292947);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {

    position: relative;
    width: 100%;
    max-width: 1100px;


    height: 40%;
    max-width: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.content-wrapper .login-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 280px;
    height: 60px;
    background: #17D6EB;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

   transition: backgroud-color 0.2s;

}

.content-wrapper .login-app:hover{
   background: #292947;

}

/*.content-wrapper .Estabelecimento{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 180px;
    height: 60px;
    background: #17D6EB;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

   transition: backgroud-color 0.2s;

}


form.content-wrapper .input-block .button-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  form.content-wrapper .input-block .button-select button {
    height: 64px;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    color: #5C8599;
    cursor: pointer;
  }
  
  form.content-wrapper .input-block .button-select button.active {
    background: #EDFFF6;
    border: 1px solid #A1E9C5;
    color: #37C77F;
  }
  
  form.content-wrapper .input-block .button-select button:first-child {
    border-radius: 20px 0px 0px 20px;
  }
  
  form.content-wrapper .input-block .button-select button:last-child {
    border-radius: 0 20px 20px 0;
    border-left: 0;
  }

  */